a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* GRID 4x2 */
.container {
Display: grid;
Grid-template:
"leftBar server channel settings" 50px
"leftBar server main main" 1fr /
50px 100px 1fr 150px;

height: 100vh;
grid-gap:5px;
}

/* LEFT BAR */
.leftBar {
    grid-area: leftBar;
    background: rgb(138, 138, 238);

    display: grid;
    grid-template-rows: repeat(6, 50px);
}

.home,
.boolean,
.codeBar,
.add,
.compass,
.download {
    border: dotted black 2px;
    border-radius: 50%;
    margin: 2px;
    height: 46px;
}

.home {
    margin-bottom: 10px;
}

/* LEFT BAR ENDS */

.server {
    grid-area: server;
    background: rgb(234, 148, 148);
}

.channel {
    grid-area: channel;
    background: rgb(237, 237, 140);
}

.settings {
    grid-area: settings;
    background: rgb(241, 207, 144);
}

.main {
    grid-area: main;
    background:rgb(232, 152, 232);
}

@media screen and (max-width: 800px) {
    .container {
        Grid-template:
        "nav server channel" 50px
        "nav server main" 1fr /
        50px 100px 1fr;
    }

    .settings {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .container {
        Grid-template:
        "server channel" 50px
        "server main" 1fr /
        100px 1fr;
    }

    .nav {
        display: none;
    }
}


