/* GLOBAL */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
--blackBorder: dotted black 2px }

/* GLOBAL ENDS */

/* GRID 4x3 */
.container {
Display: grid;
Grid-template:
"header-logo search profile profile" 50px
"folders mail settings other-apps" 1fr
"meet mail settings other-apps" 1fr /
200px 1fr 200px 50px;

height: 100vh;
grid-gap: 5px;
}

/* HEADER */
.header-logo {
    grid-area: header-logo;
    background: rgb(180, 180, 224);

    display: grid;
    grid-template-columns: 50px 100px;
}

.hamburger, .logo {
border: var(--blackBorder);
margin: 5px;
}
/* HEADER END */

/* SEARCH */
.search {
    grid-area: search;
    background: rgb(221, 144, 144);
}

.searchBar {
    border: var(--blackBorder);
    margin: 5px;
    border-radius: 5px;
    height: 40px;
}
/* SEARCH END */

/* PROFILE */
.profile {
    grid-area: profile;
    background: rgb(231, 231, 140);
    justify-content: end;

    display: grid;
    grid-template-columns: repeat(3, 50px) 80px;
}

.help,
.cog,
.otherApps,
.you {
    border: var(--blackBorder);
    margin: 5px;
}
/* PROFILE ENDS */

/* FOLDERS */
.folders {
    grid-area: folders;
    background: rgb(203, 236, 154);

    display: grid;
    grid-template-rows: 40px repeat(9,20px);
    row-gap: 2px;
}

.compose,
.inbox,
.starred,
.snoozed,
.important,
.sent,
.team,
.newRFPs,
.projects,
.personal {
    border: var(--blackBorder);
}

.compose {
    border-radius: 8px;
    margin-bottom: 5px;
}

/* FOLDERS ENDS */

/* MAIL */
.mail {
    grid-area: mail;
    background: rgb(231, 199, 138);
    display:grid;
    padding: 5px;
    grid-template:
    "tickbox fave sender subject date" 30px /
    30px 30px 1fr 2fr 100px;
}

.tickbox, .fave, .sender, .subject, .date {
    border: dashed black 2px;
}

.tickbox {
    grid-area: tickbox;
}
/* MAIL ENDS */

.settings{
    grid-area: settings;
    background:rgb(251, 149, 251);
}

.other-apps {
    grid-area: other-apps;
    background: pink;
}

.meet {
    grid-area: meet;
    background: teal;
}

@media screen and (max-width: 800px) {
    .container {
        Grid-template:
        "header-logo search profile" 50px
        "folders mail settings" 1fr
        "meet mail settings" 1fr /
        100px 1fr 200px;
    }

    .other-apps {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .container {
        Grid-template:
        "header-logo search" 50px
        "folders mail" 1fr
        "meet mail" 1fr /
        100px 1fr;
    }

    .other-apps, .settings, .profile {
        display: none;
    }
}



