/* GLOBAL */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    list-style: none;
}

/* HEADER */
.header {
    background: rgb(187, 187, 233);
}

.quickBar {
    display: grid;
    grid-template-columns: 50px 1fr 400px;
    height: 50px;
    margin: 0px 300px;
    column-gap: 10px;
}

.logo,
.search,
.shortcuts {
    border: blue dotted 2px;
}

.logo {
  place-content: center;
}

.logo img {
height: 50px;
}

.searchBar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 5px
}

.typeHere {
    border: black solid 2px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-content: center;
    align-items: center;
}

.typeHere img {
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.shortcuts {
    display: grid;
    grid-template-columns: repeat(8, 50px);
}

.shortHome,
.shortNetwork,
.shortJobs,
.shortMessaging,
.shortNotifications,
.shortProfile,
.shortWork,
.shortPostJob {
    border: green dotted 2px;
}

/* HEADER ENDS */


.container {
Display: grid;
Grid-template:
"profile feed suggestions" 1fr /
200px 1fr 200px;

height: 100vh;
grid-gap:30px;
margin: 10px 300px;
}

/* PROFILE column */
.profile {
    grid-area: profile;
    background: rgb(204, 239, 135);

    display: grid;
    grid-template:
    "myItems" 300px
    "analytics" 150px
    "history" 400px /
    1fr;

    grid-gap: 2px;
}

.myItems {
    grid-area: myItems;
    border: black dashed 2px;

    display: grid;
    grid-template-rows: 2fr repeat(3, 1fr);
}

.profilePicture,
.views,
.premium,
.items {
    border: green dotted 2px;
    margin: 2px;
}

.analytics {
    grid-area: analytics;
    border: black dashed 2px;
}

.history {
    grid-area: history;
    border: black dashed 2px;
}
/* PROFILE ENDS */

/* FEED column*/
.feed {
    display: grid;
    grid-template:
    "newPost" 120px
    "timeline" 1fr /
    1fr;

    grid-gap: 30px;

    grid-area: feed;
    border: black dashed 2px;
}

.newPost {
    background: rgb(230, 134, 134);
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-area: newPost;
    border: black dashed 2px;
}

.postBar, .attachment {
    margin: 2px;
    padding: 2px;
    border: blue dotted 2px;
}

.postBar {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.portrait {
    margin: 2px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.portrait img {
    height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.field {
    margin: 2px;
    padding: 2px;
    border: black solid 2px;
    border-radius: 5%;
    display: flex;
    align-content: center;
    align-items: center;
}

.field img {
    height: 20px;
margin-left: 5px;
margin-right: 5px;
}

.attachment {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-content: center; */
}

.photo,
.video,
.document,
.writeArticle {
    margin: 2px;
    border: green dotted 2px;
}

.photo,
.video,
.document,
.writeArticle {
    display: flex;
    align-content: center;
    align-items: center;
}

.photo img,
.video img,
.document img,
.writeArticle img {
height: 20px;
margin-left: 5px;
margin-right: 5px;
}


.timeline {
    display: grid;
    grid-template-rows: repeat(3, 400px);
    margin: 2px;
    row-gap: 2px;
}

.story {
    background: rgb(230, 134, 134);
    border: green dotted 2px;
}

/* FEED ENDS */

/* SUGGESTIONS column */
.suggestions {
    grid-area: suggestions;
    background: rgb(240, 240, 140);

    display: grid;
    grid-template-rows: 300px 120px 300px;
}

.news {
    display: grid;
    border: black dashed 2px;
}

.newsItem {
    border: green dotted 2px;
    margin: 2px;

}

.courses {
    border: black dashed 2px;
}

.addToFeed {
    border: black dashed 2px;
}
/* SUGGESTIONS END */

@media screen and (max-width: 800px) {
    .container {
        Grid-template:
        "profile feed" 1fr /
        200px 1fr;
        margin: 0px 50px;
    }

    .suggestions {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .container {
        Grid-template:
        "feed" 1fr /
         1fr;
         margin: 0px;
    }

    .profile{
        display: none;
    }
}

